<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cgpa calculator</title>
</head>
<body>
    <form action="add">
        1st sem:<input type="text" name="one"> <br>
        2nd sem:<input type="text" name="two"> <br>
        3rd sem:<input type="text" name="three"> <br>
        4th sem:<input type="text" name="four"><br>
        5th sem:<input type="text" name="five"><br>
        6th sem:<input type="text" name="six"><br>
        7th sem:<input type="text" name="seven"><br>
        8th sem:<input type="text" name="eight"><br>
        <input type="submit"> 
      
    </form>
    {{result}}
</body>
</html>